<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board Post Detail</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Board Post Detail</h1>
<table>
    <tbody>
    <tr>
        <th>ID:</th>
        <td th:text="${board.id}"></td>
    </tr>
    <tr>
        <th>Title:</th>
        <td th:text="${board.title}"></td>
    </tr>
    <tr>
        <th>Writer:</th>
        <td th:text="${board.writer}"></td>
    </tr>
    <tr>
        <th>Content:</th>
        <td th:text="${board.content}"></td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{/list}">Back to List</a>
</div>
</body>
</html>
